{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <!-- ======= End mobile nav toggle button ======= -->


    <style>
        .rounded-photo {
            border-radius: 50%;
            width: 100px; /* Adjust the width as needed */
            height: 100px; /* Adjust the height as needed */
            object-fit: cover; /* Maintain aspect ratio while covering the container */
        }
    </style>
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">
            <div class="profile">
                {% for i in left_side_items %}
                    <img src="{{ i.left_side_my_img.url }}" alt="background image" class="img-fluid rounded-circle">
                {% endfor %}
                {% for i in about_me_items %}
                    <h1 class="text-light">
                    <a href="index.html">
                        <h1>{{ i.name }}</h1>
                        <h1>{{ i.second_name }}</h1>
                    </a>
                {% endfor %}

                </h1>
                <div class="social-links mt-3 text-center">
                    {% for i in left_side_items %}
                        <a href="{{ i.twitter_link }}" class="twitter" target="_blank"><i
                                class="bx bxl-twitter"></i></a>
                        <a href="{{ i.facebook_link }}" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                        <a href="{{ i.instagram_link }}" class="instagram" target="_blank"><i
                                class="bx bxl-instagram"></i></a>
                        <a href="{{ i.skype_link }}" class="google-plus" target="_blank"><i
                                class="bx bxl-skype"></i></a>
                        <a href="{{ i.linkedin_link }}" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                    {% endfor %}
                </div>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i>
                        <span>Home</span></a>
                    </li>
                    <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a>
                    </li>
                    <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a>
                    </li>
                    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                        <span>Portfolio</span></a></li>
                    <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a>
                    </li>
                    <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header> 
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            {% for i in about_me_items %}
                <h1>{{ i.name }}</h1>
                <h1>{{ i.second_name }}</h1>
            {% endfor %}
            {% for i in about_items %}
                <p> I work with
                    <span class="typed" data-typed-items="{{ i.job_desc }}"></span>
                </p>
            {% endfor %}
        </div>
    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    {% for i in about_part_items %}
                        <h2>{{ i.name }}</h2>
                        <p>{{ i.title }}</p>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right">
                        {% for i in about_me_items %}
                            <img src="{{ i.about_part_img.url }}" class="img-fluid" alt="">
                        {% endfor %}
                    </div>

                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">

                        {% for i in about_items %}
                            <h3>{{ i.job_title }}</h3>
                            <p class="fst-italic">
                                {{ i.job_decs }}
                            </p>
                        {% endfor %}

                        <div class="row">
                            <div class="col-lg-6">

                                <ul>
                                    {% for i in about_me_items %}
                                        <li>
                                            <i class="bi bi-chevron-right"></i>
                                            <strong>Birthday:</strong>
                                            <span>
                                                        {{ i.birthday }}
                                                </span>
                                        </li>
                                    {% endfor %}

                                    {% for i in contact_me_items %}

                                        <li>
                                            <i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                            <span>
                                                            <a href="{{ i.website }}" target="_blank">Check GITHUB</a>
                                                    </span>
                                        </li>

                                        <li>
                                            <i class="bi bi-chevron-right"></i>
                                            <strong>Phone:</strong>
                                            <span>
                                                {{ i.country_code }} {{ i.phone_number }}
                                            </span>
                                        </li>

                                        <li>
                                            <i class="bi bi-chevron-right"></i>
                                            <strong>City:</strong>
                                            <span>
                                                {{ i.city }}
                                            </span>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>
                            <div class="col-lg-6">

                                <ul>
                                    {% for i in about_me_items %}
                                        <li>
                                            <i class="bi bi-chevron-right"></i>
                                            <strong>Age:</strong>
                                            <span>
                                                    {{ i.age }}
                                                </span>
                                        </li>
                                    {% endfor %}

                                    {% for i in about_items %}
                                        <li>
                                            <i class="bi bi-chevron-right"></i>
                                            <strong>Degree:</strong>
                                            <span>
                                                    {{ i.degree }}
                                                </span>
                                        </li>

                                        <li>
                                            <i class="bi bi-chevron-right"></i>
                                            <strong>EMAIL:</strong>
                                            <span>
                                                {% for i in contact_me_items %}
                                                    {{ i.email }}
                                                {% endfor %}
                                            </span>
                                        </li>

                                        <li>
                                            <i class="bi bi-chevron-right"></i>
                                            <strong>Job:</strong>
                                            <span>
                                                {{ i.job_type }}
                                            </span>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                        <p>
                            {% for i in about_items %}
                                {{ i.about_job }}
                            {% endfor %}
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->

        <!-- ======= Facts Section ======= -->
        <section id="facts" class="facts">
            <div class="container">

                <div class="section-title">
                    {% for i in fact_part_items %}
                        <h2>
                            {{ i.name }}
                        </h2>
                        <p>
                            {{ i.title }}
                        </p>
                    {% endfor %}
                </div>

                <div class="row no-gutters">
                    {% for i in facts_item %}
                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                            <div class="count-box">
                                <i class="{{ i.fact_logo }}"></i>
                                <span data-purecounter-start="0" data-purecounter-end="{{ i.fact_count }}"
                                      data-purecounter-duration="1" class="purecounter">
                                </span>
                                <p>
                                    {#                                    <strong>#}
                                    {#                                        {{ i.fact_cont }}#}
                                    {#                                    </strong>#}
                                    <br>
                                    {{ i.fact_short_text }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section>
        <!-- End Facts Section -->

        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills section-bg">
            <div class="container">

                <div class="section-title">
                    {% for i in skill_part_items %}
                        <h2>{{ i.name }}</h2>
                        <p>
                            {{ i.title }}
                        </p>
                    {% endfor %}
                </div>

                <div class="row skills-content">

                    <div class="col-lg-12" data-aos="fade-up">
                        {% for i in skills_item %}
                            {#                            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">#}
                            <div class="progress">
                                <span class="skill">{{ i.name }}<i class="val">{{ i.percent }}%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ i.percent }}"
                                         aria-valuemin="0"
                                         aria-valuemax="9009"></div>
                                </div>
                            </div>
                            {#                            </div>#}
                            {#                            <div class="progress">#}
                            {#                                <span class="skill">{{ i.skill_name }}<i class="val">{{ i.skill_percent }}%</i></span>#}
                            {#                                <div class="progress-bar-wrap">#}
                            {#                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ i.skill_percent }}" aria-valuemin="0"#}
                            {#                                         aria-valuemax="9009"></div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        {% endfor %}
                    </div>

                </div>

            </div>
        </section>
        <!-- End Skills Section -->

        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container">

                <div class="section-title">
                    {% for i in resume_part_items %}
                        <h2>{{ i.name }}</h2>
                        <p>{{ i.title }}</p>
                    {% endfor %}
                </div>

                {# SUMMARY PART #}
                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up">
                        {% for i in summary_items %}
                            <h3 class="resume-title">{{ i.part }}</h3>
                            <div class="resume-item pb-0">
                                <h4>{{ i.name.name }} {{ i.name.second_name }}</h4>
                                <p>
                                    <em>
                                        {{ i.desc }}
                                    </em>
                                </p>
                                <ul>
                                    <li>{{ i.place.city }}</li>
                                    <li>{{ i.place.country_code }}{{ i.place.phone_number }}</li>
                                    <li>{{ i.email.email }}</li>
                                </ul>
                            </div>
                        {% endfor %}
                    
                        {# EDUCATION PART  #}
                        {% for i in resume_block_items %}
                            <h3 class="resume-title"> {{ i.education }} </h3>
                        {% endfor %}
                        {% for i in education_items %}
                            <div class="resume-item">
                                <h4>{{ i.name }}</h4>
                                {% if i.end_year != None %}
                                    <h5>{{ i.year }} - {{ i.end_year }}</h5>
                                {% elif i.end_year == None %}
                                    <h5>{{ i.year }} - Present</h5>
                                {% endif %}
                                <p>
                                    <em>{{ i.place_name }}</em>
                                </p>
                                <p>
                                    {{ i.desc }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        {% for i in resume_block_items %}
                            <h3 class="resume-title">{{ i.experience }}</h3>
                        {% endfor %}
                        {% for i in experience_items %}
                            <div class="resume-item">
                                <h4>{{ i.name }}</h4>
                                {% if i.end_year != None %}
                                    <h5>{{ i.start_year }} - {{ i.end_year }}</h5>
                                {% elif i.end_year == None %}
                                    <h5>{{ i.start_year }} - Present</h5>
                                {% endif %}
                                <p><em>{{ i.place_name }}</em></p>
                                <ul>
                                    {{ i.experience_desc | safe }}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {# SUMMARY PART END #}
            </div>
        </section>
        <!-- End Resume Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio section-bg">
            <div class="container">

                <div class="section-title">
                    {% for i in portfolio_part_items %}
                        <h2>{{ i.name }}</h2>
                        <p>{{ i.title }}</p>
                    {% endfor %}
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            {% for i in category_portfolio_items %}
                                <li data-filter=".filter-{{ i.slug }}">{{ i }} {{ i.portfolio_set.all | length }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                    {% for i in portfolio_items %}
                        <div class="col-lg-4 col-md-6 portfolio-item filter-{{ i.category.slug }}">
                            <div class="portfolio-wrap">
                                <img src="{{ i.img.url }}" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="{{ i.img.url }}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1">
                                        <i class="bx bx-plus"></i>
                                    </a>
                                    <a href="{% url 'detail' i.slug %}" title="More Details" target="_blank">
                                        <i class="bx bx-link"> </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section>
        <!-- End Portfolio Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">
                <div class="section-title">
                    {% for i in service_part_items %}
                        <h2>
                            {{ i.name }}
                        </h2>
                        <p>
                            {{ i.title }}
                        </p>
                    {% endfor %}
                </div>

                <div class="row">
                    {% for i in service_items %}
                        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                            <div class="icon"><i class="{{ i.logo }}"></i></div>
                            <h4 class="title">
                                <a href="">
                                    {{ i.name }}
                                </a>
                            </h4>
                            <p class="description">
                                {{ i.desc }}
                            </p>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
            <div class="container">

                <div class="section-title">
                    {% for i in testimonial_part_items %}
                        <h2>{{ i.name }}</h2>
                        <p>{{ i.title }}</p>
                    {% endfor %}
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
                        {% for i in testimonials_item %}
                            <div class="swiper-slide">
                                <div class="testimonial-item" data-aos="fade-up">
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        {{ i.user_comment }}
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                    <img class="rounded-photo testimonial-img" src="{{ i.user_img.url }}" alt="">
                                    <h3>
                                        {{ i.user_name }} {{ i.user_second_name }}
                                    </h3>
                                    <h4>
                                        {{ i.user_job_name }}
                                    </h4>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        <!-- End Testimonials Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    {% for i in contact_part_items %}
                        <h2>{{ i.name }}</h2>
                        <p>{{ i.title }}</p>
                    {% endfor %}
                </div>

                <div class="row" data-aos="fade-in">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            {% for i in contact_me_items %}
                                <div class="address">
                                    <i class="bi bi-geo-alt"></i>
                                    <h4>Location:</h4>
                                    <p>{{ i.address }}</p>
                                </div>


                                <div class="email">
                                    <i class="bi bi-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>{{ i.email }}</p>
                                </div>

                                <div class="phone">
                                    <i class="bi bi-phone"></i>
                                    <h4>Call:</h4>
                                    <p>{{ i.country_code }} {{ i.phone_number }}</p>
                                </div>

                                <iframe src="{{ i.location_coordinate }}" frameborder="0"
                                        style="border:0; width: 100%; height: 290px;"
                                        allowfullscreen></iframe>
                            {% endfor %}
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center">
                                <button type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Section -->

    </main><!-- End #main -->



{#    <!-- ======= Footer ======= -->#}
{#    <footer id="footer">#}
{#        <div class="container">#}
{#            <div class="copyright">#}
{#                &copy; Copyright <strong><span>iPortfolio</span></strong>#}
{#            </div>#}
{#            <div class="credits">#}
{#                <!-- All the links in the footer should remain intact. -->#}
{#                <!-- You can delete the links only if you purchased the pro version. -->#}
{#                <!-- Licensing information: https://bootstrapmade.com/license/ -->#}
{#                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->#}
{#                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>#}
{#            </div>#}
{#        </div>#}
{#    </footer><!-- End  Footer -->#}
{##}
{#    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i#}
{#            class="bi bi-arrow-up-short"></i></a>#}

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

{% endblock content %}