{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{#    <!-- ======= Mobile nav toggle button ======= -->#}
{#    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>#}
{##}
{#    <!-- ======= Header ======= -->#}
{#        {% block header %}#}
{#        {% endblock header %}#}
{#    <!-- End Header -->#}
{##}
{#    <!-- ======= Hero Section ======= -->#}
{#    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">#}
{#        <div class="hero-container" data-aos="fade-in">#}
{#            {% for i in about_items %}#}
{#                <h1> {{ i.my_name }}</h1>#}
{#                <h1>{{ i.my_second_name }}</h1>#}
{#                <h2 style="color: bisque">I'm <span class="typed" data-typed-items="{{ i.job_name }}"></span></h2>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </section>#}
{#    <!-- End Hero -->#}
{##}
{#    <!-- ======= Main Section ======= -->#}
{#    <main id="main">#}
{#        <!-- ======= About Section ======= -->#}
{#        {% block about %}#}
{#        {% endblock about %}#}
{#        <!-- End About Section -->#}
{##}
{#        <!-- ======= Facts Section ======= -->#}
{#        {% block facts %}#}
{#        {% endblock facts %}#}
{#        <!-- End Facts Section -->#}
{##}
{#        <!-- ======= Skills Section ======= -->#}
{#        {% block skills %}#}
{#        {% endblock skills %}#}
{#        <!-- End Skills Section -->#}
{##}
{#        <!-- ======= Resume Section ======= -->#}
{#        {% block resume %}#}
{#        {% endblock resume %}#}
{#        <!-- End Resume Section -->#}
{##}
{#        <!-- ======= Portfolio Section ======= -->#}
{#        {% block portfolio %}#}
{#        {% endblock portfolio %}#}
{#        <!-- End Portfolio Section -->#}
{##}
{#        <!-- ======= Services Section ======= -->#}
{#        {% block services %}#}
{#        {% endblock services %}#}
{#        <!-- End Services Section -->#}
{##}
{#        <!-- ======= Testimonials Section ======= -->#}
{#        {% block testimonials %}#}
{#        {% endblock testimonials %}#}
{#        <!-- End Testimonials Section -->#}
{##}
{#        <!-- ======= Contact Section ======= -->#}
{#        {% block contact %}#}
{#        {% endblock contact %}#}
{#        <!-- End Contact Section -->#}
{#    </main>#}
{#    <!-- End #main -->#}
{#{% endblock content %}#}